# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.env/
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# CSV data files (kalau mau exclude data besar, tapi movie.csv biarkan ikut upload)
# *.csv
